.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
}

.link-room {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    min-height: 160px;
}

.info-room > div {
    margin: 0 0 1.5rem;
}

.info-room > div:last-child {
    margin: 0;
}

.input {
    width: 100%;
}

.button_type_copy-link {
    margin: 0.5rem 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: normal;
}

.game {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 3rem;
    padding: 0 0 3rem;
    border-bottom: 1px dashed #40cd18cc;
}

.button_type_level {
    margin-bottom: 0.5rem;
}

.button_type_level:last-child {
    margin-bottom: 0;
}

.game__levels {
    text-align: center;
}

.game__levels-title {
    margin-bottom: 1rem;
}

.message_type_wait {
    text-align: center;
}

.game__board {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.game__task {
    margin-bottom: 2rem;
}

.game__task > p {
    margin-bottom: 1.25rem;
}

.game__task > p:last-child {
    margin-bottom: 0;
}

.game__answer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    min-height: 194px;
}

.game__answer-content {
    margin-bottom: 1rem;
}

.button_type_check-answer {
    margin-bottom: 1rem;
}

.game__result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.game__result > p {
    margin-bottom: 1rem;
}

.game__result-round {
    margin-bottom: 1rem;
}

.button_type_next-round {
    width: 100%;
}

@media (min-width: 1024px) {
    .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0 auto;
        max-width: 900px;
        width: 100%;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
    }

    .tabs-wrapper {
        width: calc(100% / 3);
        margin: 0 1rem 0 0;
        padding-right: 1rem;
        border-right: 1px dashed #40cd18cc;
    }

    .players__content_type_room {
        width: calc(100% / 3);
    }

    .players__content_type_round {
        width: calc(100% / 3);
        padding-left: 1rem;
        border-left: 1px dashed #40cd18cc;
        margin: 0 1rem 0 0;
    }

    .button_type_copy-link {
        width: 100%;
    }

    .button_type_start-game {
        margin: 0 auto;
    }

    .info-room {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        width: 100%;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        min-height: 200px;
        height: 100%;
    }

    .info-room > div {
        margin: 0 1rem 0 0;
    }

    .game__levels {
        max-width: 600px;
        width: 100%;
    }

    .game__board {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .game__answer {
        width: 100%;
        min-height: 170px;
    }

    .input_type_answer-task {
        max-width: none;
    }
}
